<div class="meta-container">

  <div id="nav-container"></div>

  <section id="content"></section>

  <div id="footer-container"></div>

  <div id="modal-container">
      <section class="modal-screen"></section>
      <section class="modal-form"></section>
  </div>
</div>
