<h1>Log In to Savant</h1>
<% if @user.errors.any? %>
  <%= render partial: "shared/errors", locals: {model: @user} %>
<% end %>
<form  action="<%= session_url %>" method="post">
  <%= form_auth_token %>
  <label for="loginString">Username or Email</label>
  <input id="loginString" type="text" name="user[loginString]" value="<%= @user.login_string %>">


  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">

  <button>Submit</button>
</form>
