<footer class="footer-main">
  <div class="footer-layer top">
    <div class="footer-layer-fixed">
      <ul class="footer-group group">
        <li><a href="https://github.com/MaxfieldLewin/savant">About Savant</a></li>
        <li><a href="http://maxfieldlewin.github.io/">Made by Max Lewin</a></li>
      </ul>
    </div>
  </div>
</footer>
