<footer class="footer-main">
  <div class="footer-layer top">
    <div class="footer-layer-fixed">
      <ul class="footer-group group">
        <li><a href="#">About Savant</a></li>
        <li><a href="#">About Max</a></li>
        <li><a href="#">About Lil B</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-layer bottom">
    <div class="footer-layer-fixed">
      <ul class="footer-group group">
        <li><a href="#">Terms of service</a></li>
        <li><a href="#">Spoiler Alert</a></li>
        <li><a href="#">There are none!</a></li>
      </ul>
    </div>
  </div>
</footer>
