<nav class="nav-main">
  <div class="nav-layer">
    <div class="nav-layer-fixed group">
      <ul class="nav-group nav-tag-list left">
        <li class="nav-tag-item">Rap</li>
        <li class="nav-tag-item">Pop</li>
        <li class="nav-tag-item">Rock</li>
        <li class="nav-tag-item">R&B</li>
        <li class="nav-tag-item">News</li>
        <li class="nav-tag-item">Tech</li>
        <li class="nav-tag-item">Law</li>
      </ul>

      <div class="nav-group right">
      <% if (Savant.currentUser.isSignedIn()) { %>
          <a class="nav-user-link" id="nav-signout" href="/#users/logout" >Sign Out</a>
      <% } else { %>
        <a class="nav-user-link" id="nav-signup" href="/#"> Sign Up </a>
        <a class="nav-user-link" id="nav-signin" href="/#"> Sign In </a>
      <% } %>
      </div>
    </div>
  </div>

  <div class="nav-layer">
    <div class="nav-layer-fixed group">
      <div class="nav-group left">
        <a href="#"><h1 class="title small-title">SAVANT</h1></a>
      </div>

      <div class="nav-group nav-create-group right group">
        <input type="text" class="nav-search-bar typeahead" placeholder="Search Artists and Songs">
        <a class= "nav-create-link" href="/#"> Add Song </a>
      </div>
    </div>
  </div>
</nav>
