<div class="modal-signup">
  <h1>Sign Up for Savant</h1>

  <a class="oauth-link oauth-twitter" href="/auth/twitter">Sign in with Twitter</a><br>

  <form  action="#" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="user[username]" value="<%= user.escape('username') %>">

    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]" value="<%= user.escape('email') %>">

    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]">

    <button>Submit</button>
  </form>
  <div class="errors"></div>
</div>
