<div class="title-area-container">
  <div class="title-container">
    <h1 class="title big-title"> SAVANT </h1>
  </div>
  <h2 class="small-slogan"> Annotate all the things. </h2>
</div>
<ul class="splash-songs-list group">
  <% songs.forEach(function (song) { %>
    <li class="splash-song">
      <a class="splash-song-link" href="#songs/<%= song.id %>">
        <div class="splash-song-image-overlay">
          <img class="splash-song-image savant-image" src="<%= song.get('image_url')%>">
        </div>
        <div class="splash-song-byline"><%= song.get("title") %><br><span class="splash-song-artist"><%= song.get("artist_name") %></span></div>
      </a>
    </li>
  <% }) %>
</ul>
