<textarea class="new-comment-contents" name="comment[contents]">
</textarea>

<label for="new-comment-image">Add an Image</label>
<input id="new-comment-image" type="file" name="comment[image]">

<div class="errors"></div>
<button class="new-comment-submit">Post Reply</button>
