<div class="song-edit-buttons">
  <button class="cancel-edit">Cancel</button>
  <button class="submit-edit">Submit</button>
</div>
<textarea class="song-edit-textarea"><%= song.escape("contents") %></textarea>
