<form  class="annotation-form" action="#" method="post">
  <h1 class="form-header">New Annotation</h1>

  <div class="input-textarea-container">
    <br>
    <textarea class="annotation-textarea" name="annotation[contents]" default="Say a cool thing"></textarea>
  </div>


  <button class="form-button">Submit</button>
  <a id="cancel-annotation">cancel</a>
</form>
