<form  class="song-form" action="#" method="post">
  <h1 class="form-header">New Text</h1>

  <div class="input-group group">
    <div>
      <label for="artist">Artist:</label>
      <br>
      <div id="new-song-artist-search">
        <input id="artist" type="text"  class="song-form-byline typeahead" name="song[artist_name]" placeholder="Lil B">
      </div>
    </div>

    <div>
      <label for="title">Title:</label>
      <br>
      <input id="title" type="text" class="song-form-byline" name="song[title]" value="<%= song.get('title') %>" placeholder="Title">
    </div>
  </div>

  <div class="input-textarea-container">
    <label for="contents">Lyrics/Contents</label>
    <br>
    <textarea class="lyrics-textarea" id="contents" name="song[contents]"><%= song.get('contents') %></textarea>
  </div>

  <div class="errors"></div>
  <button class="form-button">Submit</button>

</form>
