<div class="song-body-container">
  <section class="song-header">
    <section class="song-metadata">
    </section>

    <section class="song-byline">
      <h1 class="song-show-title"><%= song.escape("title") %></h1>
      <a class="song-show-artist-hover" href="/#artists/<%= song.escape('artist_id') %>"><h2 class="song-show-artist-name"><%= song.escape('artist_name') %></h2><a>
    </section>
  </section>

  <section class="song-social-buttons-container">
    <button class="edit-lyrics">Edit Lyrics</button>
  </section>

  <section class="song-lyrics-and-details-container">
  </section>

  <section class="song-comments">
  </section>
</div>
