<section class="song-header">
  <section class="song-metadata">
  </section>

  <section class="song-byline">
  </section>
</section>

<div class="song-body-container">
  <section class="song-lyrics-container">
    <pre class="formatted-lyrics">
      <%= song.get("contents") %>
    </pre>
  </section>
  <section class="anotation-container">

  </section>
</div>

<section class="song-comments">
</section>
