<h1 class="title big-title"> SAVANT </h1>
<h2 class="small-slogan"> Annotate all the things. </h2>

<ul>
  <% songs.forEach(function (song) { %>
    <li class="splash-song">
      <a href="#songs/<%= song.id %>">"<%= song.get("title") %>" by <%= song.get("artist_name") %></a>
    </li>
  <% }) %>
</ul>
