/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset */
 html, body, section, article,
 h1, h2, p, strong, em, a, nav {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   -webkit-appearance: none;
 }

 ul, ol {
   list-style: none;
   -webkit-padding-start: 0px;
   -webkit-margin-before: 0px;
   -webkit-margin-after: 0px;
 }

 input, textarea, button {
   outline: none;
 }

/* clearfix */

.group:after {
  content:"";
  display: block;
  clear: both;
}

/* body */
body {
  background-color: #000;
  color: white;
}

/* nav */
.nav-main {
  color: #ccc;
  background-color: #151515;
}

.nav-layer {
  border-bottom: 1px solid #555;
  width: 100%;
  display: block;
}

.nav-tag-list.left {
  display: block;
  float: left;
}

.nav-tag-list.right {
  display: block;
  float: right;
}

.nav-tag-list > li {
  display: inline-block;
}

.nav-user-link {
  display: inline-block;
}

/* main content area*/
.content {
  position: absolute;
  width: 100%;
}

.big-title {
  font-family: 'Varela Round', sans-serif;
  display: block;
  font-size: 80px;
  margin: 40px;
  color: black;
  text-shadow: -4px 6px #ffff64;
  text-align: center;
}

/* modals */
#modal-container {
  background: pink;
  display: none;
}

#modal-container.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.8);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.modal-signup, .modal-signin {
  position: relative;
  display: block;
  background-color: #292929;
  border: 1px solid #444;
  padding: 20px;
}

.modal-signup input, .modal-signin input {
  display: block;
}
