/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* reset */
 html, body, section, article,
 h1, h2, p, strong, em, a, nav, pre, div {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   -webkit-appearance: none;
 }

 ul, ol {
   list-style: none;
   -webkit-padding-start: 0px;
   -webkit-margin-before: 0px;
   -webkit-margin-after: 0px;
 }

 input, textarea, button, select {
   outline: none;
 }

 select, textarea, input {
   -webkit-appearance: none;
 }

 textarea {
   width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
 }

/* clearfix */

.group:after {
  content:"";
  display: block;
  clear: both;
}

/* body */
body {
  background-color: #000;
  color: white;
}


@mixin fixed-width() {
  display: block;
  margin: auto;
  width: 1040px;
}
