/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset */
 html, body, section, article,
 h1, h2, p, strong, em, a, nav, pre, div {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   -webkit-appearance: none;
 }

 ul, ol {
   list-style: none;
   -webkit-padding-start: 0px;
   -webkit-margin-before: 0px;
   -webkit-margin-after: 0px;
 }

 input, textarea, button, select {
   outline: none;
 }

 select, textarea {
   -webkit-appearance: none;
 }

 textarea {
   width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
 }

/* clearfix */

.group:after {
  content:"";
  display: block;
  clear: both;
}

/* body */
body {
  background-color: #000;
  color: white;
}

/* nav */
.nav-main {
  color: #ccc;
  background-color: #151515;
}

.nav-layer {
  border-bottom: 1px solid #555;
  width: 100%;
  height: 45px;
  display: block;
}

.nav-layer-fixed {
  max-width: 1040px;
  height: 45px;
  margin: auto;
  border-right: 1px solid #555;
}

.nav-tag-list {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;

}

.nav-tag-list > li {
  display: inline-block;
  padding: 0px 5px;
}

.nav-tag-list > li:hover {
  color: #ffff64;
}

.nav-tag-list > li:after {
  content: "•";
  font-size: 10px;
  color: #555;
  position: relative;
  top: -3px;
  left: 7px;
}

.nav-tag-list > li:first-of-type {
  padding-left: 0px;
}

.nav-tag-list > li:last-of-type:after {
  content: "";
}

.nav-group.left {
  display: block;
  float: left;
}

.nav-group.right {
  display: block;
  float: right;
  margin-right: 5px;
}

.nav-group {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.nav-user-link, .nav-create-link {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

.nav-user-link {
  font-size: 13px;
}


#nav-signup:after {
  content: "•";
  font-size: 10px;
  color: #ccc;
  position: relative;
}

.nav-user-link:hover {
  color: #5ba7c2;
}

/* main content area*/
#content {
  display: block;
  margin: auto;
  max-width: 1040px;
}

.title {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  display: block;
  color: black;
}

.big-title {
  font-size: 76px;
  margin: 40px;
  text-shadow: -7px 4px #ffff64;
  text-align: center;
  letter-spacing: 12px;
}

.small-title {
  display: none;
}

.small-title.visible {
  display: inline-block;
  font-size: 20px;
  text-shadow: -2px 1px #ffff64;
}

/* modals */
#modal-container {
  background: pink;
  display: none;
}

#modal-container.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.5);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.modal-signup, .modal-signin {
  position: relative;
  display: block;
  background-color: #292929;
  border: 1px solid #444;
  padding: 20px;
}

.modal-signup input, .modal-signin input {
  display: block;
}

/* Create Text From */

.form-header {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  display: block;
  margin: 20px 0px 10px 1px;
}

.input-group {
  display: block;
  border-bottom: 1px solid #303030;
}

.input-group > div {
  display: block;
  float: left;
  margin: 20px;
}

.song-form label {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.song-form-byline {
  width: 300px;
}

#new-song-artist-search .tt-menu {
  width: 300px;
  color: #ede8e9;
  background-color: #141414;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #3a3a3a;
  margin-left: 8px;
}

#new-song-artist-search .tt-suggestion:nth-child(2n + 0) {
  background-color: #212121;
}

#new-song-artist-search .tt-highlight {
  color: #ffff64;
}

.song-form-byline, .lyrics-textarea {
  font-size: 15px;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 5px;
}

.input-textarea-container{
  width: 100%;
  padding: 20px 0px;;
}

.lyrics-textarea {
  width: 100%;
  min-height: 480px;
  resize: none;
}

.form-button {
  color: #ccc;
  font-size: 13px;
  background-color: #262626;
  border: 1px solid #444;
  border-radius: 2px;
  padding: 5px 9px;
  margin: 3px 4px 5px 0px;
}

/* Show Song */

.song-body-container {
  border-left: 1px solid #333;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-size: 140%;
}

.lyrics-container {
  display: block;
  float: left;
  max-width: 50%;
}

.formatted-lyrics {

}

.formatted-lyrics > a {
  background-color: #353535;
}

.formatted-lyrics > a:hover {
  background-color: #ffff64;
  color: #000;
}

.details-container {
  display: block;
  float: left;
  width: 50%;
}
