@import "mixins.scss";

#footer-container {
  position: relative;
}

.footer-main {
  margin-top: 30px;
  background-color: rgb(34,34,34);
}

.footer-layer {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  height: 30px;
}

.footer-layer.top {
  font-size: 14px;
  color: rgb(204, 204, 204);
}


.footer-layer.bottom {
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.footer-layer-fixed {
  @include fixed-width();
  text-align: center;
}

ul.footer-group {
  display: inline-block;
  transform: translateY(50%);
}

.footer-group > li {
  display: block;
  float: left;
}

.footer-group > li::after {
  content: "•";
}

.footer-group > li:last-of-type::after {
  content: "";
}
