/* modals */

#modal-container {
  display: none;
}

#modal-container.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.5);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.modal-signup, .modal-signin {
  position: relative;
  display: block;
  background-color: #292929;
  border: 1px solid #444;
  padding: 20px;
}

.modal-form input {
  color: #ddd;
  background-color: #363636;
  border: 1px solid #BBB;
  padding: 5px;
}

.modal-form h1, .modal-form h2 {
  font-size: 62px;
  text-align: center;
  color: #ffff64;
  font-family: 'Abel', sans-serif;
}

.modal-form h1 {
  font-size: 62px;
  line-height: 0.7;
}

.modal-form h2 {
  font-size: 30px;
}

.modal-form-group {
  width: 375px;
  padding: 5px;
  background-color: #363636;
}

.modal-form-group label {
  display: block;
  margin: 10px 0px;
}

.modal-form-group input {
  color: #ddd;
  background-color: #363636;
  padding: 5px;
  display: inline-block;
  margin: auto;
  width: 97%;
  border: 1px solid #555;
  border-radius: 2px;
}

.modal-form-group input:focus{
  outline: 1px solid white;
}

.oauth-twitter {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #1e9ed5;
  border: 1px solid #1e9ed5;
  border-radius: 2px;
  color: white;
}

.modal-form-group button {
  margin: 10px 0px;
  color: #ddd;
  font-size: 14px;
  padding: 10px;
  background-color: #292929;
  border: 1px solid #444;
  border-radius: 2px;
}

.modal-form-group button:hover {
  background-color: #363636;
}
