/* nav */
.nav-main {
  color: #ccc;
  background-color: #151515;
}

.nav-layer {
  border-bottom: 1px solid #555;
  width: 100%;
  height: 45px;
  display: block;
}

.nav-layer-fixed {
  max-width: 1040px;
  height: 45px;
  margin: auto;
  border-right: 1px solid #555;
}

.nav-tag-list {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
}

.nav-tag-list > li {
  display: inline-block;
  padding: 0px 5px;
}

.nav-tag-list > li:hover {
  color: #ffff64;
}

.nav-tag-list > li:after {
  content: "•";
  font-size: 10px;
  color: #555;
  position: relative;
  top: -3px;
  left: 7px;
}

.nav-tag-list > li:first-of-type {
  padding-left: 0px;
}

.nav-tag-list > li:last-of-type:after {
  content: "";
}

.nav-group.left {
  display: block;
  float: left;
}

.nav-group.right {
  display: block;
  float: right;
  margin-right: 5px;
}

.nav-group {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.nav-user-link, .nav-create-link {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

.nav-user-link {
  font-size: 13px;
}


#nav-signup:after {
  content: "•";
  font-size: 10px;
  color: #ccc;
  position: relative;
}

.nav-user-link:hover {
  color: #5ba7c2;
}

.nav-create-link:hover {
  background-color: #292929;
}


.small-title {
  display: none;
}

.small-title.visible {
  display: inline-block;
  font-size: 20px;
  text-shadow: -2px 1px #ffff64;
}
