/* Show Song */

.song-body-container {
  border-left: 1px solid #333;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-size: 140%;
}

.lyrics-container {
  display: block;
  float: left;
  max-width: 50%;
}

.formatted-lyrics {
  white-space: pre-wrap;
}

.formatted-lyrics > a {
  background-color: #353535;
}

.formatted-lyrics > a:hover {
  background-color: #ffff64;
  color: #000;
}

.details-container {
  display: block;
  float: left;
  width: 50%;
}

.formatted-lyrics > a.maybe-annotation {
  background-color: #ffff64;
  color: #000;
}
