/* Show Song */
@import "mixins.scss";

.song-body-container {
  @include fixed-width();
  border-left: 1px solid #333;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-size: 140%;
}

.song-image-header-container {
  position: relative;
  display: block;
  height: 320px;
  width: 100%;
  overflow: hidden;
}

.song-image-inner-container {
  position: relative;
  display: block;
  height: 320px;
  width: 100%;
  overflow: hidden;
}

.song-show-image-overlay::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: url(asset-path("tooth_bg.png"));
}

.song-show-image {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.song-header-fixed-container {
  @include fixed-width();
  position: relative;
}

.song-header-inner-container {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.song-metadata {
  text-align: right;
}

.song-byline{
  display: block;
  font-family: 'Abel', sans-serif;
}

.song-show-title{
  font-weight: bold;
  font-size: 44px;
  padding: 7px 12px 2px 13px;
  background: #ffff64;
  color: black;
}

.song-show-artist-hover {
  display: inline-block;
  font-size: 34px;
  color: white;
  background-color: rgba(30, 30, 30, 0.6);
  padding: 9px 10px 3px 14px;
}

.edit-lyrics, .submit-edit, .cancel-edit {
  background-color: rgba(55, 55, 55, .4);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #eee;
  margin-top: 10px;
  margin-left: 10px;
}

.edit-lyrics:hover, .submit-edit:hover, .cancel-edit:hover {
  background-color: rgba(55, 55, 55, .8);
}

.lyrics-container {
  display: block;
  float: left;
  max-width: 45%;
  padding-left: 15px;
}

.song-edit-textarea {
  width: 50%;
  padding: 15px;
  background: transparent;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
}

.formatted-lyrics, .song-edit-textarea {
  white-space: pre-wrap;
}

.formatted-lyrics > a {
  background-color: #353535;
}

.formatted-lyrics > a:hover {
  background-color: #ffff64;
  color: #000;
}

.details-container {
  display: block;
  float: right;
  width: 45%;
  position: relative;
  border-left: 1px solid rgb(98, 98, 98);
  padding-left: 15px;

}

.annotation {
  display: block;
  position: absolute;
  border-left: 1px solid rgb(255, 255, 100);
}

.lyrics-details {
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

.formatted-lyrics > a.maybe-annotation {
  background-color: #ffff64;
  color: #000;
}

.details-comments-container {
  margin-top: 10px;
}
