<div class="modal-signin">
  <h1>Log In to Savant</h1>

  <form  action="#" method="post">
    <label for="loginString">Username or Email</label>
    <input id="loginString" type="text" name="login_string" value="<%= user.get('login_string') %>">

    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <button>Submit</button>
  </form>
  <div class="errors"></div>
</div>
